@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  min-height: 100vh; /* required for full page background */
}

#root {
  min-height: 100vh; /* required for full page background */
}

.appBody {
  height: 100%;
  margin-top: 80px;
}

body {
  font-family: var(--body-font);
  background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  @media screen and (max-width: 480px) {
    padding: 0.8em;
  }
}

.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Nav Bar */

.connectButton {
  float: right;
  margin-right: 24px;
  border-radius: 4px;
  padding: 5px 15px;
  color: #f1f1f3;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(255 255 255 / 31%);
  backdrop-filter: blur(0.65rem);
}
.connectButton:hover {
  background-color: #a01d2b;
  opacity: 0.5;
}
.navBar {
  padding-top: 18px;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(17, 104, 241, 0.08);
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Market */
.marketContainer {
  width: 100%;
  box-shadow: rgba(12, 12, 12, 0.1) 0px 1px 1px 0px inset,
    rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
    rgba(3, 3, 3, 0.3) 0px 30px 60px -30px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1 -1 2px #aaa, 1 1 2px #555;
  backdrop-filter: blur(0.65rem);
  -webkit-backdrop-filter: blur(0.65rem);
  height: 200px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 15px;
}
.subContainer {
  margin-bottom: 20px;
}
.marketOption {
  display: flex;
  margin-left: 22px;
}
.optionData {
  margin-left: 10px;
  color: #fff;
  font-weight: 700;
}
.optionPercent {
  display: block;
  font-size: 24px;
  font-weight: 1000;
  color: #ebeef1;
}
.logoImg {
  background-color: #fff;
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 28px;
  height: 28px;
}

.marketHeader {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
.hoverButton:hover {
  background-color: #a01d2b;
  opacity: 0.5;
  cursor: pointer;
}
.hoverButton:active {
  /* box-shadow: 0 0 0 white; */
  box-shadow: inset;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Assets */
.assetContainer {
  width: 900px;
  min-height: 225px;
  margin: 0 auto;
  backdrop-filter: blur(0.65rem);
  top: 50%;
  border-radius: 4px;
  padding: 15px;
  margin-top: 50px; /* space between sections */
  color: #fff;
  font-weight: 500;
  box-shadow: rgba(12, 12, 12, 0.1) 0px 1px 1px 0px inset,
    rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
    rgba(3, 3, 3, 0.3) 0px 30px 60px -30px;
}
.columnHeaders {
  font-weight: 800;

  color: #ffffff;
}
.stakedAssets {
  margin-top: 10px;
  padding: 10px;
}

.stakingItem {
  background-color: #000;
  border-radius: 4px;
  padding: 5px 15px;
}
.stakedLogoImg {
  background-color: #fff;
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 18px;
  height: 18px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Glyphs */
.glyphContainer {
  background-color: #8cc290;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 7px;
}
.glyph {
  font-size: 34px;
}

/******************************************************************************/
/* Stake Modal */
.modal-class {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: -400px;
  right: 0px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);
}
.modal-content {
  background-color: #121212;
  width: 300px !important;
  padding: 0px 15px;
  background-color: #121212 !important;
  border: 1px solid #121212 !important;
  border-radius: 7px !important;
  padding: 25px;
}
.fieldContainer {
  padding-left: 0px !important;
}
.inputField {
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}
.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}
.orangeButton {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  color: #fff;
  border-radius: 4px;
  background-color: rgba(250, 37, 37, 0.31);
  cursor: pointer;
}

.orangeButton:hover {
  color: #fff;
  opacity: 0.5;
}

.orangeMiniButton {
  width: 100%;
  color: #000;
  border-radius: 4px;
  background-color: rgb(224, 57, 57);
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.orangeMiniButton:hover {
  opacity: 0.5;
}
